body {
    margin: 0;
}

h1,
span {
    width: 400px;
}

/* Overwrite browser default styles 
and inherit color from parent that has color set */
a {
    color: inherit;
}
h2 {
    width: 80%;
}

span {
    display: inline-block;
}