/* Reset default box sizing, margin and padding for all elements */
/* Custom mini reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: mistyrose;
    margin: 0;
    color: #444;
}

/* Main containers */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: rebeccapurple;
    padding: 20px;
    color: white;
    text-align: right;
}
h1,
span {
    width: 400px;
}

/* Overwrite browser default styles 
and inherit color from parent that has color set */
a {
    color: inherit;
}

h1 {
    border: 1px solid blue;
    /* Set padding for all sides - clockwise */
    /* padding: 10px 16px 24px 32px; */
    /* Set for top and bottom, then left and right */
    /* padding: 10px 16px;  */
    /* Set for all 4 side */
    padding: 10px;
    color: rebeccapurple;
}

h2 {
    width: 80%;
}

span {
    display: inline-block;
}